* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 设置容器 */
.main {
    /* 设置宽高 */
    width: 921px;
    height: 280px;
    /* 设置居中 */
    margin: 60px auto;
    /* 设置定位 */
    position: relative;
    /* 设置溢出样式 */
    overflow: hidden;
}

/* 设置背景 */
.main .background {
    /* 设置宽高 */
    width: 100%;
    height: calc(100% - 30px);
    /* 设置定位 */
    position: absolute;
    /* 设置偏移量 */
    bottom: 0;
}

/* 设置背景地面 */
.main .background .ground {
    /* 设置宽高 */
    width: 100%;
    height: 27px;
    /* 设置定位 */
    position: absolute;
    /* 设置偏移量 */
    bottom: 0;
    /* 设置背景图片 */
    background-image: url("../source/images/场景图3.png");
    /* 设置背景偏移量 */
    background-position: 0 93px;

}

/* 设置背景云朵 */
.main .background .cloud .cloud1 {
    /* 设置宽高 */
    width: 100px;
    height: 30px;
    /* 设置背景图片 */
    background-image: url("../source/images/场景图2.png");
    /* 设置背景偏移量 */
    background-position: -163px 0;
    /* 设置定位 */
    position: absolute;
    /* 设置左位移 */
    margin-left: 921px;
}

.main .background .cloud .cloud2 {
    /* 设置宽高 */
    width: 52px;
    height: 15px;
    /* 设置背景图片 */
    background-image: url("../source/images/场景图1.png");
    /* 设置背景偏移量 */
    background-position: -84px 0;
    /* 设置定位 */
    position: absolute;
    /* 设置左位移 */
    margin-left: 921px;
}

/* 设置角色 */
.main .role {
    /* 设置宽高 */
    width: 100%;
    height: calc(100% - 25px);
    /* 设置定位 */
    position: absolute;
    /* 设置偏移量 */
    bottom: 0;
}

/* 设置小恐龙(玩家) */
.main .role .dinosaur {
    /* 设置宽高 */
    width: 82px;
    height: 95px;
    /* 设置背景图片 */
    background-image: url("../source/images/场景图2.png");
    /* 设置背景偏移量 */
    background-position: -1860px 0;
    /* 设置定位 */
    position: absolute;
    /* 设置偏移量 */
    bottom: -5px;
    left: 50px;
    /* 设置外边距 */
    margin-bottom: 0;
    /* 跑动动画 */
    animation: dinosaurRun 100ms steps(2) alternate infinite;
    overflow: visible;

    /* background-color: aqua; */
}

/* 跳跃动画 */
@keyframes dinosaurJump {

    from,
    to {
        background-position-x: -1680px;
    }
}

/* 跑动动画 */
@keyframes dinosaurRun {
    from {
        background-position: -1856px 0;
    }

    to {
        background-position: -2032px 0;
    }
}

/* 设置障碍物 */
/* 小仙人掌 */
.main .background .obstacle .s-cactus1 {
    width: 30px;
    height: 84px;
    background-image: url("../source/images/场景图2.png");
    background-position: -448px 0;
    position: absolute;
    bottom: 0;
    /* 设置左侧位移 */
    margin-left: 921px;
}

.main .background .obstacle .s-cactus2 {
    width: 30px;
    height: 84px;
    background-image: url("../source/images/场景图2.png");
    background-position: -482px 0;
    position: absolute;
    bottom: 0;
    /* 设置左侧位移 */
    margin-left: 921px;
}

.main .background .obstacle .s-cactus3 {
    width: 30px;
    height: 84px;
    background-image: url("../source/images/场景图2.png");
    background-position: -516px 0;
    position: absolute;
    bottom: 0;
    /* 设置左侧位移 */
    margin-left: 921px;
}

.main .background .obstacle .s-cactus4 {
    width: 30px;
    height: 84px;
    background-image: url("../source/images/场景图2.png");
    background-position: -550px 0;
    position: absolute;
    bottom: 0;
    /* 设置左侧位移 */
    margin-left: 921px;
}

.main .background .obstacle .s-cactus5 {
    width: 31px;
    height: 84px;
    background-image: url("../source/images/场景图2.png");
    background-position: -584px 0;
    position: absolute;
    bottom: 0;
    /* 设置左侧位移 */
    margin-left: 921px;
}

.main .background .obstacle .s-cactus6 {
    width: 30px;
    height: 84px;
    background-image: url("../source/images/场景图2.png");
    background-position: -618px 0;
    position: absolute;
    bottom: 0;
    /* 设置左侧位移 */
    margin-left: 921px;
}

/* 设置计分板 */
.main .score-board {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 0;
    right: 0;
}

.score {
    width: 21px;
    height: 25px;
    background-image: url("../source/images/场景图2.png");
    background-position: -1291px 0;
}

/* 设置成就框 */
.achievement-container {
    width: 350px;
    border: 5px double #535353;
    border-radius: 15px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -175px;
    overflow: hidden;
    user-select: none;
}

.achievement-title {
    text-align: center;
    background: #535353;
}
.achievement-title .award-achievement {
    color: #fff;
}

.achievement {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
}

.achievement .award-icon {
    width: 110px;
    height: 80px;
    background: url("../source/images/奖杯.svg") no-repeat center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.achievement .context {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.achievement .context .achievement-context,
.achievement .context .vice-context {
    width: 100%;
    text-align: center;
}

.achievement .context .achievement-context {
    font-size: 1.75rem;
    font-weight: bolder;
    color: #535353;
}

.achievement .context .vice-context {
    font-size: 0.95rem;
    font-weight: bold;
    color: #535353;
}