* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 设置容器 */
.main {
    /* 设置宽高 */
    width: 921px;
    height: 280px;
    /* 设置居中 */
    margin: 60px auto;
    /* 设置定位 */
    position: relative;
    /* 设置溢出样式 */
    overflow: hidden;
}